.Albums {
  overflow-x: auto; // Enable horizontal scrolling
  padding: 10px 0;
  scroll-behavior: smooth; // Smooth scrolling for a better UX

  .content {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    padding: 10px 0;
    position: relative;

    .albums {
      padding: 8px 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 150px;
      justify-content: space-between;
      position: relative;
      border-radius: 8px;

      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 8px;
      }

      h5 {
        margin-top: 8px;
        text-align: center;
        color: #fff;
        font-size: 14px;
      }

      .play {
        display: none;
        position: absolute;
        top: 73%;
        right: 4px;
        transform: translateY(-50%);
        z-index: 1;
        color: #1db954;
        font-size: 40px;
      }

      &:hover {
        background: rgba(81, 81, 81, 0.2);

        .play {
          display: block;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .content {
      gap: 8px;

      .albums {
        padding: 6px 16px;

        img {
          width: 120px;
          height: 120px;
        }

        h5 {
          font-size: 12px;
        }
      }
    }
  }
}
