$spotify-green: #1db954;
$spotify-black: #191414;
$bg: #0000;
$white-color: #ffffff;
$black-color: #fff;
$lightest-slate: #d9dadc;
$navy-shadow: rgba(255, 255, 255, 0.7);
$black: $spotify-black;
$border-radius: 8px;
$transition: 0.3s ease;

.BurgerMenu {
  position: absolute;
  top: 65px;
  right: 0px;
  opacity: 0;
  visibility: hidden;
  transition: $transition;
  padding: 15px;
  background: $bg;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: $border-radius;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .user_profile {
      display: flex;
      gap: 10px;
      align-items: center;

      .user_data {
        .user_name {
          font-size: 16px;
          font-weight: 500;
          color: $black;
        }
        .user_email {
          font-size: 14px;
          color: $black-color;
        }
      }
    }

    .auth_login_buttons {
      .sign_in_button {
        padding: 7px 14px;
        display: block;
        border: none;
        border-radius: $border-radius;
        color: $black;
        transition: $transition;

        &:hover {
          background-color: $lightest-slate;
        }
      }
    }

    .nav {
      ul {
        li {
          .link {
            padding: 7px 14px;
            display: block;
            border-radius: $border-radius;
            color: $black;
            transition: $transition;

            &:hover {
              background-color: $lightest-slate;
            }

            &.active {
              background-color: $black;
              color: $white-color;
            }
          }
        }
      }
    }

    .auth_logout_buttons {
      .logout_button {
        padding: 7px 14px;
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        display: flex;
        gap: 7px;
        justify-content: flex-start;
        align-items: center;
        border-radius: $border-radius;
        font-size: 14px;
        font-weight: 500;
        color: #ff5f54;
        transition: $transition;

        &:hover {
          background: #ff5f54;
          color: $white-color;
        }
      }
    }
  }
}
