.LayoutSite {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .content {
    margin-top: 22px;
    display: flex;
    flex: 1;

    .Media {
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: rgba(128, 128, 128, 0.7) transparent;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(128, 128, 128, 0.7);
        border-radius: 10px;
      }
    }

    main {
      background-color: rgba(255, 255, 255, 0.06);
      padding: 15px;
      border-radius: 9px;
      width: 100%;
      flex: 1;
      overflow-y: auto;
      height: 83vh;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 10px;
      }
    }
  }

  footer {
    margin-top: auto;
  }
}

@media (max-width: 414px) {
  .Media {
    display: none !important;
  }
}
