@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kalnia+Glaze:wght@100..700&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Inter", sans-serif;
  color-scheme: dark;
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background-color: black;
  color: white;
}
button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: none;
}
a {
  text-decoration: none;
}
a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #1db954;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding: 5px 0;
  transition: color 0.3s ease, border-color 0.3s ease;

  &:hover {
    color: #1ed760;
    border-color: #1ed760;
  }

  &:focus {
    outline: none;
    border-color: #1db954;
    background-color: rgba(29, 185, 84, 0.1);
  }
}
