.Tracks {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  .content {
    .cardContent {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 10px 0;
      gap: 34px;
      white-space: nowrap;
      scroll-snap-type: x mandatory;

      .imageWrapper {
        flex: 0 0 auto;
        width: 120px;
        height: 160px;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        position: relative;
        scroll-snap-align: start;

        &.active img {
          border: 4px solid #1db954;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.3s ease;
        }

        .play {
          font-size: 40px;
          color: #1db954;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: opacity 0.3s ease;
        }

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

          img {
            transform: scale(1.05);
          }

          .play {
            opacity: 1;
          }
        }
      }

      h4,
      p {
        margin: 8px 0;
        text-align: center;
        color: white;
        width: 30px;
      }

      h4 {
        font-size: 16px;
        font-weight: 600;
        width: 30px;
      }

      p {
        font-size: 14px;
        color: #b3b3b3;
        width: 30px;
      }
    }
  }
}

@media (max-width: 768px) {
  .Tracks {
    .content {
      .cardContent {
        padding: 8px 0;
        gap: 20px;

        .imageWrapper {
          width: 100px;
          height: 140px;
        }

        h4 {
          font-size: 14px;
          width: 60px;
        }

        p {
          font-size: 12px;
          width: 30px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .Tracks {
    .content {
      .cardContent {
        padding: 5px;
        gap: 15px;

        .imageWrapper {
          width: 90px;
          height: 130px;
        }

        h4 {
          font-size: 13px;
        }

        p {
          font-size: 11px;
          width: 30px;
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .Tracks {
    .content {
      .cardContent {
        padding: 5px;
        gap: 10px;

        .imageWrapper {
          width: 80px;
          height: 110px;
        }

        h4 {
          font-size: 12px;
          width: auto;
        }

        p {
          font-size: 10px;
          width: 30px;
        }
      }
    }
  }
}
